<ng-sidebar-container style="height: 100vh;">

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" mode="slide" closeOnClickOutside="true" (onOpened)="_toggleSidebar(true)" (onClosed)="_toggleSidebar(false)">
    <div class="sidebar">
      <ul *ngIf="isUserLoggedIn(); else loggedout">
        <li *ngFor="let page of getPages()">
          <a [routerLink]="page.path" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ page.name }}</a>
        </li>
        <li *ngIf="getSession().user.level.toLowerCase() === 'admin'">
          <a routerLink="admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a>
        </li>
        <li>
          <a (click)="logout()">Logout - {{ getSession().user.username }}</a>
        </li>
      </ul>
      <ng-template #loggedout>
      <ul>
        <li>
          <a routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a routerLink="register" routerLinkActive="active">Register</a>
        </li>
      </ul>
      </ng-template>
      <span *ngIf="getSession() && getSession().user.level.toLowerCase() === 'limited'" class="limitedusr">You're account is limited! Please wait to be accepted by an admin.<br></span>
      Status: <span [style.color]="isOnline() ? 'green' : 'red'">{{ isOnline() ? 'ONLINE' : 'OFFLINE' }}</span><br>
      <span *ngIf="isUserLoggedIn()">
        Regional: {{ getSession().regional?.name }}<br>
        <span *ngIf="getBacklog().length >= 0">
          There are {{ getBacklog().length }} offline records stored.
        </span>
      </span>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <div class="main-content">
        <div class="toggle-button" (click)="_toggleSidebar()">
          <fa [name]="_current_icon" size="4x"></fa>
        </div>

        <div class="page-content">
          <router-outlet></router-outlet>
        </div>

    </div>
    
    <app-notifications></app-notifications>
  </div>

</ng-sidebar-container>