<div class="col-sm-4 notification-box">
  <div *ngFor="let n of getNotifications()" [ngSwitch]="n.type">

    <div class="alert alert-primary" role="alert" *ngSwitchCase="0">
      {{ n.message }}
    </div>

    <div class="alert alert-success" role="alert" *ngSwitchCase="1">
        <h5 class="alert-heading">Success!</h5>
      {{ n.message }}
    </div>

    <div class="alert alert-warning" role="alert" *ngSwitchCase="2">
      <h5 class="alert-heading">Warning!</h5>
      <hr>
      {{ n.message }}
    </div>

    <div class="alert alert-danger" role="alert" *ngSwitchCase="3">
      <h5 class="alert-heading">Error!</h5>
      <hr>
      {{ n.message }}
    </div>

  </div>
  <!-- <iframe *ngIf="vidOn" src="https://www.youtube-nocookie.com/embed/8XiqrERZo_8?autoplay=1" frameborder="0" allow="encrypted-media" allowfullscreen hidden></iframe> -->
</div>