<ng-sidebar-container style="height: 100vh;">

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" mode="push">
      <div class="sidebar">
        <ul>
          <li *ngFor="let page of pages">
            {{ page.name }}
          </li>
        </ul>
      </div>
    </ng-sidebar>
  
    <!-- Page content -->
    <div ng-sidebar-content>
      <div class="main-content">
          <div class="toggle-button" (click)="_toggleSidebar()">
            <fa name="{{ _current_icon }}" size="4x"></fa>
          </div>
  
          <div class="page-content">
            <!-- 
            Each individual page's content will go here.
            -->
          </div>
  
      </div>
    </div>
  
  </ng-sidebar-container>