<ng-sidebar-container style="height: 100vh;">

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" mode="push">
      <div class="sidebar">
        <ul>
          <li *ngFor="let page of pages">
            <a routerLink="{{ page.path }}" routerLinkActive="active">{{ page.name }}</a>
          </li>
        </ul>
          Special Thanks To:<br/>
          Emerson<br/>
          Thats it.
      </div>
    </ng-sidebar>
  
    <!-- Page content -->
    <div ng-sidebar-content>
      <div class="main-content">
          <div class="toggle-button" (click)="_toggleSidebar()">
            <fa [name]="_current_icon" size="4x"></fa>
          </div>
  
          <div class="page-content">
            <h2>Page Title Placeholder</h2>
            <hr>
            <router-outlet></router-outlet>
          </div>
  
      </div>
    </div>
  
  </ng-sidebar-container>