<app-header [title]="title"></app-header>

<div>
  <form #loginForm="ngForm" (ngSubmit)="login(); loginForm.reset();">
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" required [(ngModel)]="login_fields.username" name="username">
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" required [(ngModel)]="login_fields.password" name="password">
      </div>
      <div class="form-group">
        <label for="regional">Regional</label>
        <select required [(ngModel)]="login_fields.regional_id" name="regional" >
            <option *ngFor="let reg of regional_list" value="{{ reg.key }}-{{ reg.name }}">{{ reg.name }}</option>
        </select>
    </div>
      <div *ngIf="message" class="form-alert">
          {{ message }}
      </div>
      <div class="form-group">
          <button type="submit" [disabled]="(!this.backend_update.is_online || loginForm.invalid)">Submit</button>
      </div>
  </form>
</div>