<app-header [title]="title"></app-header>

<div class="offset-sm-2 col-sm-8">
    <form #loginForm="ngForm" (ngSubmit)="login(); loginForm.reset();">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="username" class="col-form-label">Username</label>
                <input type="text" id="username" class="form-control" required [(ngModel)]="login_fields.username" name="username">
            </div>
            <div class="form-group col-sm-6">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" id="password" class="form-control" required [(ngModel)]="login_fields.password" name="password">
            </div>
        </div>
        <div class="form-group">
            <label for="regional" class="col-form-label">Regional</label>
            <select required [(ngModel)]="login_fields.regional_id" class="custom-select" name="regional" >
                <option *ngFor="let reg of regional_list" value="{{ reg.key }}-{{ reg.name }}">{{ reg.name }}</option>
            </select>
        </div>
        <div *ngIf="message" class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary " [disabled]="(!this.backend_update.isOnline() || loginForm.invalid)">Submit</button>
        </div>
    </form>
</div>