<app-header [title]="title"></app-header>

<button (click)="refreshSchedule()" class="refresh">Refresh Data</button>

<table>
    <tr>
        <th>Match Number</th>
        <th class="red">Red 1</th>
        <th class="red">Red 2</th>
        <th class="red">Red 3</th>
        <th class="red">Red Score</th>
        <th class="blue">Blue 1</th>
        <th class="blue">Blue 2</th>
        <th class="blue">Blue 3</th>
        <th class="blue">Blue Score</th>
    </tr>
    <tr *ngFor="let match of getMatches()">
        <td>{{ match.match_number }} ({{ match.comp_level | uppercase }})</td>
        <td class="red" *ngFor="let team of match.alliances.red.team_keys" [class.winner]="match.alliances.red.score > match.alliances.blue.score">{{ team.substr(3) }}</td>
        <td class="red" [class.winner]="match.alliances.red.score > match.alliances.blue.score">{{ match.alliances.red.score === -1 ? "" : match.alliances.red.score }}</td>
        <td class="blue" *ngFor="let team of match.alliances.blue.team_keys" [class.winner]="match.alliances.blue.score > match.alliances.red.score">{{ team.substr(3) }}</td>
        <td class="blue" [class.winner]="match.alliances.blue.score > match.alliances.red.score">{{ match.alliances.blue.score === -1 ? "" : match.alliances.blue.score }}</td>
    </tr>
</table>