<app-header [title]="title"></app-header>

<button (click)="refreshSchedule()" class="refresh">Refresh Data</button>

<table>
    <tr>
        <th>Match Number</th>
        <th class="red">Red 1</th>
        <th class="red">Red 2</th>
        <th class="red">Red 3</th>
        <th class="red">Red Score</th>
        <th class="blue">Blue 1</th>
        <th class="blue">Blue 2</th>
        <th class="blue">Blue 3</th>
        <th class="blue">Blue Score</th>
    </tr>
    <tr *ngFor="let match of auth.session.regional.data.matches">
        <td>{{ match.match_number }} ({{ match.comp_level | uppercase }})</td>
        <td class="red">{{ match.alliances.red.team_keys[0] }}</td>
        <td class="red">{{ match.alliances.red.team_keys[1] }}</td>
        <td class="red">{{ match.alliances.red.team_keys[2] }}</td>
        <td class="red">{{ match.alliances.red.score }}</td>
        <td class="blue">{{ match.alliances.blue.team_keys[0] }}</td>
        <td class="blue">{{ match.alliances.blue.team_keys[1] }}</td>
        <td class="blue">{{ match.alliances.blue.team_keys[2] }}</td>
        <td class="blue">{{ match.alliances.blue.score }}</td>
    </tr>
</table>