<app-header [title]="title"></app-header>

<div class="offset-sm-2 col-sm-8">
    <form (ngSubmit)="submitMatchScout();" [formGroup]="form">
        <div class="row" [formGroup]="form">
            <div class="form-group col-sm-6">
                <label for="team_number" class="col-form-label">Team Number</label>
                <input type="number" id="team_number" class="form-control" name="team_number" formControlName="team_number" #tnum [class.error]="!form.controls['team_number'].valid">
            </div>
            <div class="form-group col-sm-6">
                <label for="match_number" class="col-form-label">Match Number</label>
                <input type="text" id="match_number" class="form-control" name="match_number" formControlName="match_number" #mnum [class.error]="!form.controls['match_number'].valid">
                <div *ngIf="!form.controls['match_number'].valid">
                    Match number must follow pattern: Q1, QF4, SF8, F2
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            Insert Field Image Here
        </div>
        <br>

        <h2>Autonomous</h2>
        <hr>

        <div *ngFor="let question of getAutoFields()">
            <app-match-question [question]="question" [form]="form" type="auto"></app-match-question>
        </div>

        <!-- Checkbox -->
        <!-- <div class="custom-control custom-checkbox">
            <input type="checkbox" id="cross_baseline" class="custom-control-input" [(ngModel)]="match_template.auto.crossed_baseline" name="cross_baseline">
            <label for="cross_baseline" class="custom-control-label">Crossed Baseline?</label>
        </div> -->

        <!-- Number -->
        <!-- <div class="form-row">
            <label for="auto-switch" class="col-form-label col-sm-12">Switch</label>
            <input type="number" id="auto-switch" class="form-control col-sm-10" required [(ngModel)]="match_template.auto.switch" name="auto-switch" #autoswitch="ngModel">
            <div class="col-sm-2">
                <div (click)="match_template.auto.switch=match_template.auto.switch+1" class="custom-btn"><div class="content">+</div></div>
                <div (click)="match_template.auto.switch > 0 ? match_template.auto.switch=match_template.auto.switch-1 : 0" class="custom-btn"><div class="content">-</div></div>
            </div>
        </div> -->

        <!-- Number -->
        <!-- <div class="form-row">
            <label for="auto-scale" class="col-form-label col-sm-12">Scale</label>
            <input type="number" id="auto-scale" class="form-control col-sm-10" required [(ngModel)]="match_template.auto.scale" name="auto-scale">
            <div class="col-sm-2">
                <div (click)="match_template.auto.scale=match_template.auto.scale+1" class="custom-btn"><div class="content">+</div></div>
                <div (click)="match_template.auto.scale > 0 ? match_template.auto.scale=match_template.auto.scale-1 : 0" class="custom-btn"><div class="content">-</div></div>
            </div>
        </div> -->

        <!-- Textarea -->
        <!-- <div class="form-group">
            <label for="auto_comments" class="col-form-label">Auto Comments</label>
            <textarea id="auto_comments" class="form-control" [(ngModel)]="match_template.auto.comments" name="auto_comments"></textarea>
        </div>
        <br> -->

        <h2>Teleop</h2>
        <hr>

        <div *ngFor="let question of getTeleopFields()">
            <app-match-question [question]="question" [form]="form" type="teleop"></app-match-question>
        </div>

        <!-- Number -->
        <!-- <div class="form-row">
            <label for="teleop-own-switch" class="col-form-label col-sm-12">Team's Switch</label>
            <input type="number" id="teleop-own-switch" class="form-control col-sm-10" required [(ngModel)]="match_template.teleop.teams_switch" name="teleop-own-switch">
            <div class="col-sm-2">
                <div (click)="match_template.teleop.teams_switch=match_template.teleop.teams_switch+1" class="custom-btn"><div class="content">+</div></div>
                <div (click)="match_template.teleop.teams_switch > 0 ? match_template.teleop.teams_switch=match_template.teleop.teams_switch-1 : 0" class="custom-btn"><div class="content">-</div></div>
            </div>
        </div> -->

        <!-- Number -->
        <!-- <div class="form-row">
            <label for="teleop-scale" class="col-form-label, col-sm-12">Scale</label>
            <input type="number" id="teleop-scale" class="form-control col-sm-10" required [(ngModel)]="match_template.teleop.scale" name="teleop-scale">
            <div class="col-sm-2">
                <div (click)="match_template.teleop.scale=match_template.teleop.scale+1" class="custom-btn"><div class="content">+</div></div>
                <div (click)="match_template.teleop.scale > 0 ? match_template.teleop.scale=match_template.teleop.scale-1 : 0" class="custom-btn"><div class="content">-</div></div>
            </div>
        </div> -->

        <!-- Number -->
        <!-- <div class="form-row">
            <label for="opp-switch" class="col-form-lebel col-sm-12">Opponent's Switch</label>
            <input type="number" id="opp-switch" class="form-control col-sm-10" required [(ngModel)]="match_template.teleop.opponents_switch" name="opp-switch">
            <div class="col-sm-2">
                <div (click)="match_template.teleop.opponents_switch=match_template.teleop.opponents_switch+1" class="custom-btn"><div class="content">+</div></div>
                <div (click)="match_template.teleop.opponents_switch > 0 ? match_template.teleop.opponents_switch=match_template.teleop.opponents_switch-1 : 0" class="custom-btn"><div class="content">-</div></div>
            </div>
        </div> -->

        <!-- Number -->
        <!-- <div class="form-row">
            <label for="cubeexchange" class="col-form-lebel col-sm-12">Cube Exchange</label>
            <input type="number" id="cubeexchange" class="form-control col-sm-10" required [(ngModel)]="match_template.teleop.cube_exchange" name="cubeexchange">
            <div class="col-sm-2">
                <div (click)="match_template.teleop.cube_exchange=match_template.teleop.cube_exchange+1" class="custom-btn"><div class="content">+</div></div>
                <div (click)="match_template.teleop.cube_exchange > 0 ? match_template.teleop.cube_exchange=match_template.teleop.cube_exchange-1 : 0" class="custom-btn"><div class="content">-</div></div>
            </div>
        </div> -->

        <!-- Dropdown -->
        <!-- <div class="form-group">
            <label for="climb" class="col-form-label">Climb</label>
            <select id="climb" class="custom-select" required [(ngModel)]="match_template.teleop.climb" name="climb">
                <option value="noclimb">No Climb</option>
                <option value="climb">Climb</option>
                <option value="levitate">Levitated</option>
                <option value="carried">Carried By Other Bot</option>
            </select>
        </div> -->

        <!-- Textarea -->
        <!-- <div class="form-group">
            <label for="teleop_comments" class="col-form-label">Teleop Comments</label>
            <textarea id="teleop_comments" class="form-control" [(ngModel)]="match_template.teleop.comments" name="teleop_comments"></textarea>
        </div> -->

        <!-- Textarea -->
        <!-- <div class="form-group">
            <label for="teleop_penalties" class="col-form-label">Teleop Penalties</label>
            <textarea id="teleop_penalties" class="form-control" [(ngModel)]="match_template.teleop.penalties" name="teleop_penalties"></textarea>
        </div> -->

        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
    </form>

</div>